@use './partials/colors' as *;
@use './partials/controls' as *;
@use './partials/navbar' as *;
@use './partials/footer' as *;
@use './partials/animations' as *;
@use './partials/chat' as *;
@use 'bootstrap' as *;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow', sans-serif;
    line-height: 98%;

    & span {
        font-family: 'Barlow', sans-serif;
    }
}


h1 {
    font-size: 5.5rem;
    letter-spacing: -4px;
}

h2 {
    font-size: 3rem;
}



/* HEADER */
header {
    background-image: url('/home-background-hero-scaled.jpg');
    background-position: center;
}


/* KEY FEATURES */

.overlap {
    margin-top: -50px;
}

/* DISHES */

#order-discount {
    position: relative;
    background-image: url('/first-order-background-scaled.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;

    & img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
    }
}

/* HERO */

#bg-phone {
    background-image: url('/app-ordering-scaled.jpg');
    background-position: center;

    & .app-download img {
        height: 50px;
    }
}


/* BREAKPOINTS */

@media screen and (min-width: 992px) {
    .v-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
    }
}

@media screen and (max-width: 578px) {
    h1 {
        font-size: 11vh;
    }

    h2 {
        font-size: 6vh;
    }
}