@use './partials/colors' as *;
@use 'bootstrap' as *;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow', sans-serif;
}


/* HEADER */
header {
    background-image: url('/home-background-hero-scaled.jpg');
    background-position: center;
}


.v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
}

/* KEY FEATURES */

.overlap {
    margin-top: -50px;
}

/* DISHES */

#order-discount {
    position: relative;
    background-image: url('/first-order-background-scaled.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;

    & img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
    }
}