@use './partials/colors' as *;
@use 'bootstrap' as *;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow', sans-serif;
}

#order-discount {
    background-image: url('../../public/first-order-background-scaled.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}