/* COLORS */

$ms-color-marshland: #020201;
$ms-color-cardinal: #c90b18;
$ms-color-zest: #e4862a;
$ms-color-pickledBean: #6b4328;
$ms-color-silver: #bdbdbd;
$ms-color-hemp: #917979;
$ms-color-deepSeaGreen: #0d4f5c;
$ms-color-goldenrod: #fcd66c;
$ms-color-pictonBlue: #42a3ef;
$ms-color-myPink: #d49f7f;
$ms-color-nightRider: #231712;
$ms-color-muleFawn: #8a4630;
$ms-color-mantle: #8f9894;
$ms-color-lynch: #5e7b95;
$ms-color-muddyWaters: #be855f;
$ms-color-hoki: #5d7a95;
$ms-color-darkCardinal: #bf1e23;
$ms-color-emperor: #555454;
$ms-color-tan: #cead8c;

/* 
    BACKGROUNDS 
*/

.bg-marshland {
    background-color: $ms-color-marshland;
}

.bg-cardinal {
    background-color: $ms-color-cardinal;
}

.bg-zest {
    background-color: $ms-color-zest;
}

.bg-pickledBean {
    background-color: $ms-color-pickledBean;
}

.bg-silver {
    background-color: $ms-color-silver;
}

.bg-hemp {
    background-color: $ms-color-hemp;
}

.bg-deepSeaGreen {
    background-color: $ms-color-deepSeaGreen;
}

.bg-goldenrod {
    background-color: $ms-color-goldenrod;
}

.bg-pictonBlue {
    background-color: $ms-color-pictonBlue;
}

.bg-myPink {
    background-color: $ms-color-myPink;
}

.bg-nightRider {
    background-color: $ms-color-nightRider;
}

.bg-muleFawn {
    background-color: $ms-color-muleFawn;
}

.bg-mantle {
    background-color: $ms-color-mantle;
}

.bg-lynch {
    background-color: $ms-color-lynch;
}

.bg-muddyWaters {
    background-color: $ms-color-muddyWaters;
}

.bg-hoki {
    background-color: $ms-color-hoki;
}

.bg-darkCardinal {
    background-color: $ms-color-darkCardinal;
}

.bg-emperor {
    background-color: $ms-color-emperor;
}

.bg-tan {
    background-color: $ms-color-tan;
}

/* 
    TEXT COLORS 
*/

.text-cardinal {
    color: $ms-color-cardinal;
}

.text-marshland {
    color: $ms-color-marshland;
}

.text-zest {
    color: $ms-color-zest;
}

.text-pickledBean {
    color: $ms-color-pickledBean;
}

.text-silver {
    color: $ms-color-silver;
}

.text-hemp {
    color: $ms-color-hemp;
}

.text-deepSeaGreen {
    color: $ms-color-deepSeaGreen;
}

.text-goldenrod {
    color: $ms-color-goldenrod;
}

.text-pictonBlue {
    color: $ms-color-pictonBlue;
}

.text-myPink {
    color: $ms-color-myPink;
}

.text-nightRider {
    color: $ms-color-nightRider;
}

.text-muleFawn {
    color: $ms-color-muleFawn;
}

.text-mantle {
    color: $ms-color-mantle;
}

.text-lynch {
    background-color: $ms-color-lynch;
}

.text-muddyWaters {
    color: $ms-color-muddyWaters;
}

.text-hoki {
    color: $ms-color-hoki;
}

.text-darkCardinal {
    color: $ms-color-darkCardinal;
}

.text-emperor {
    color: $ms-color-emperor;
}

.text-tan {
    color: $ms-color-tan;
}