/* COLORS */

$ms-color-marshland: #020201;
$ms-color-cardinal: #c90b18;
$ms-color-zest: #e4862a;
$ms-color-pickledBean: #6b4328;
$ms-color-silver: #bdbdbd;
$ms-color-hemp: #917979;
$ms-color-deepSeaGreen: #0d4f5c;
$ms-color-goldenrod: #fcd66c;
$ms-color-pictonBlue: #42a3ef;
$ms-color-myPink: #d49f7f;
$ms-color-nightRider: #231712;
$ms-color-muleFawn: #8a4630;
$ms-color-mantle: #8f9894;
$ms-color-lynch: #5e7b95;
$ms-color-muddyWaters: #be855f;
$ms-color-hoki: #5d7a95;
$ms-color-darkCardinal: #bf1e23;
$ms-color-emperor: #555454;
$ms-color-tan: #cead8c;

/* 
    BACKGROUNDS 
*/

.bg-marshland {
    background-color: $ms-color-marshland !important;
}

.bg-cardinal {
    background-color: $ms-color-cardinal !important;
}

.bg-zest {
    background-color: $ms-color-zest !important;
}

.bg-pickledBean {
    background-color: $ms-color-pickledBean !important;
}

.bg-silver {
    background-color: $ms-color-silver !important;
}

.bg-hemp {
    background-color: $ms-color-hemp !important;
}

.bg-deepSeaGreen {
    background-color: $ms-color-deepSeaGreen !important;
}

.bg-goldenrod {
    background-color: $ms-color-goldenrod !important;
}

.bg-pictonBlue {
    background-color: $ms-color-pictonBlue !important;
}

.bg-myPink {
    background-color: $ms-color-myPink !important;
}

.bg-nightRider {
    background-color: $ms-color-nightRider !important;
}

.bg-muleFawn {
    background-color: $ms-color-muleFawn !important;
}

.bg-mantle {
    background-color: $ms-color-mantle !important;
}

.bg-lynch {
    background-color: $ms-color-lynch !important;
}

.bg-muddyWaters {
    background-color: $ms-color-muddyWaters !important;
}

.bg-hoki {
    background-color: $ms-color-hoki !important;
}

.bg-darkCardinal {
    background-color: $ms-color-darkCardinal !important;
}

.bg-emperor {
    background-color: $ms-color-emperor !important;
}

.bg-tan {
    background-color: $ms-color-tan !important;
}

/* 
    TEXT COLORS 
*/

.text-cardinal {
    color: $ms-color-cardinal!important;
}

.text-marshland {
    color: $ms-color-marshland!important;
}

.text-zest {
    color: $ms-color-zest!important;
}

.text-pickledBean {
    color: $ms-color-pickledBean!important;
}

.text-silver {
    color: $ms-color-silver!important;
}

.text-hemp {
    color: $ms-color-hemp!important;
}

.text-deepSeaGreen {
    color: $ms-color-deepSeaGreen!important;
}

.text-goldenrod {
    color: $ms-color-goldenrod!important;
}

.text-pictonBlue {
    color: $ms-color-pictonBlue!important;
}

.text-myPink {
    color: $ms-color-myPink!important;
}

.text-nightRider {
    color: $ms-color-nightRider!important;
}

.text-muleFawn {
    color: $ms-color-muleFawn!important;
}

.text-mantle {
    color: $ms-color-mantle!important;
}

.text-lynch {
    background-color: $ms-color-lynch!important;
}

.text-muddyWaters {
    color: $ms-color-muddyWaters!important;
}

.text-hoki {
    color: $ms-color-hoki!important;
}

.text-darkCardinal {
    color: $ms-color-darkCardinal!important;
}

.text-emperor {
    color: $ms-color-emperor!important;
}

.text-tan {
    color: $ms-color-tan!important;
}