@use './colors' as *;

$def-padding: 10px 30px;
$def-small-padding: 5px;

/* CONTROLS */

.btn-rounded {
    display: inline-block;
    background-color: $ms-color-marshland;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    text-decoration: none;

    transition: all .3s ease;
}

.btn-rounded.btn-rounded-cardinal {
    background-color: $ms-color-cardinal;
}

.btn-textual {
    background-color: transparent;
    color: $ms-color-cardinal;
    border: 0;
    text-decoration: none;
}

.btn-pill {
    background-color: $ms-color-cardinal;
    color: white;
    padding: $def-padding;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1.5px;
    border-radius: 30px;
    font-size: .8rem;
    text-transform: uppercase;
    transition: all .3s ease;

    &.small-control {
        padding: $def-small-padding;
    }

    &:hover {
        box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, .5);
        color: white;
    }
}


input[type='email'],
input[type='text'] {
    padding: $def-padding;
    border-radius: 25px;
    border: none;
}

input[type='email'].small-control,
input[type='text'].small-control {
    padding: $def-small-padding;
    border-radius: 5px;
    border: none;
    font-size: .8rem;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $ms-color-hemp;
}