@use './colors' as *;

$def-padding: 10px 30px;

/* CONTROLS */

.btn-rounded {
    display: inline-block;
    background-color: $ms-color-marshland;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    text-decoration: none;

    transition: all .3s ease;
}

.btn-pill {
    background-color: $ms-color-cardinal;
    color: white;
    padding: $def-padding;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1.5px;
    border-radius: 30px;
    font-size: .8rem;
    text-transform: uppercase;
    transition: all .3s ease;


    &:hover {
        box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, .5);
        color: white;
    }
}


input[type='email'] {
    padding: $def-padding;
    border-radius: 25px;
    border: none;
}