@use './colors' as *;

/* FOOTER */

footer {
    background-image: url('/footer-background-scaled.jpg');
    background-position: center;
    background-size: cover;
}

.footer-links {
    list-style: none;
    padding-left: 0;

    & img {
        height: 40px;
        border: 2px solid white;
        border-radius: 10px;
    }
}

.footer-link-item {
    text-decoration: none;
    font-size: .8rem;
    color: white;
    font-weight: bold;
    transition: all .2s ease;
}

.footer-link-item.non-clickable:hover {
    text-decoration: none;
    color: white;
    cursor: default;
}

.footer-link-item:hover {
    color: $ms-color-goldenrod;
    cursor: pointer;
    text-decoration: underline;
}

.footer-logo {
    height: 40px;
}

#footer-coupon {
    width: 120px;
}

.social-icon {
    color: white;
    transition: all .2s ease;

    &:hover {
        color: $ms-color-goldenrod;
    }
}